<div class="card card-user">
  <form id="formContent">
    <h2>La discapacidad es a nivel</h2>
        <div class="button-container">
            <button *ngFor="let menuItem of menuItems" href="#" class="btn" (click)="funciones(menuItem.value)">
              {{menuItem.title}}
            </button>

        </div>
  </form>

  <form [hidden]="sensoriales" id="formContent">
    <h2>La discapacidad se relaciona con:</h2>
        <div class="button-container">
            <button *ngFor="let sen of sens" href="#" class="btn btn-neutral" (click)="vista(sen.value)">
              {{sen.title}}
            </button>

        </div>
  </form>
  <form [hidden]="vis" id="formContent">
    <h2>Que region de la vista?:</h2>
        <div class="button-container">
            <button *ngFor="let vista of vistas" href="#" class="btn btn-neutral" (click)="agudeza(vista.value)">
              {{vista.title}}
            </button>

        </div>
  </form>

  <form [hidden]="agu" id="formContent">
    <h2>La Agudeza Visual falla a nivel...?:</h2>
        <div class="button-container">
            <button *ngFor="let agu of agudezas" href="#" class="btn btn-neutral" (click)="bino(agu.value)">
              {{agu.title}}
            </button>

        </div>
  </form>

  <form [hidden]="agu" id="formContent">
    <h2>Termino la calificacion?:</h2>
        <div class="button-container">
            <button href="#" class="btn btn-neutral" (click)="confirmation()">
              Si, generar carnet?
            </button>

            <button href="#" class="btn btn-neutral" (click)="confirmation()">
              No, continuar calificacion.
            </button>
        </div>
  </form>
  
</div>

