.card:hover{
    border: 1px solid rgb(242, 35, 36);
    box-shadow: 0 6px 8px 0 rgba(242, 35, 36 ,0.2), 0 6px 20px 0 rgba(242, 35, 36, 0.19);
  }
.card{
  transition: border .5s ease-in;
  
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
  text-align: center;
}